@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}

.muirtl-o6me2l-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #ff0000 !important;
}

/* .MuiButtonBase-root{
  margin: 1px 2px !important;
} */


#one {
  height: 100px;
}

#two {
  height: 200px;
}

.corner {
  width: 100px;
  background-color: green;
  margin: 10px;
  position: relative;
}

.corner:after,
.corner:before {
  content: "";
  position: absolute;
  left: 100%;
  width: 40px;
  height: 50%;
}

.corner:before {
  top: 0px;
  background: linear-gradient(to top right, green 50%, transparent 51%);
}

.corner:after {
  bottom: 0px;
  background: linear-gradient(to bottom right, green 50%, transparent 51%);
}

.glass {
  background-color: inherit !important;
  border: none;
  color: #e9e2e2;
  text-align: center;
  text-shadow: 0px 0px 15px rgb(35, 22, 216);
}

.avatartest {
  -webkit-clip-path: polygon(25% 2%, 100% 2%, 100% 99%, 25% 99%, 0% 50%);
  clip-path: polygon(25% 2%, 100% 2%, 100% 99%, 25% 99%, 0% 50%);
}

.Social_media {
  display: flex;
  width: 100%;
  padding: 0 25px;
  font-size: larger;
  align-items: end;
  justify-content: start;
  text-decoration: none;
  color: gray;
  border-radius: 0px !important;
  /* border: 1px solid red; */
}

.Social_media:hover {
  color: rgba(255, 0, 0, 0.623)
}

.MuiCircularProgress-root {
  transform: rotate(90deg) !important;
  border-radius: 95px !important;
  border: 1px dotted purple !important;
  background-color: rgb(233, 231, 231);
}

